/*GENERAL*/
body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    background-repeat: repeat-y;
    
    background-size: contain;
    background-image: linear-gradient(to right, #42505F, #CA92AD);
}

.hidden {
    opacity: 0;
}

.collapsed {
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 0;
    height: 0;  
}

.offScreen{ 
    transform: translate(-1%,-90%);
    position: absolute;
}

.onScreen{
    transform: translate(0, 0);
    position: relative;
}

.fireWorks{
    background-image:  url('Img/fireworks.gif'), linear-gradient(to right, #42505F, #CA92AD);
    background-size: contain;
    background-repeat: round;
}