/*GENERAL*/
body {
    margin: 0%;
    padding: 0;
}

body{
    margin: 1%;
    background-image: linear-gradient(to right, #42505F, #CA92AD)
}

.hidden {
    opacity: 0;
}

.collapsed {
    height: 0;
    margin: 0;
    padding: 0;
}

/*FORM*/
form {
    display: flex;
    flex-flow: column nowrap;

    width: calc(100% - 2%);
    min-width: 300px;
    min-height: 150px;

    align-items: stretch;
}

.inputContainer {
    display: flex;
    flex-flow: column nowrap;

    align-items: center;
}

input[type="text"] {
    min-width: 30%;
    text-align: center;
}

label>input[type="number"] {
    max-width: 30px;
    height: 11px;
}

.errorMsg {
    color: red;
    margin-bottom: 10px;
}

#btnDone {
    align-self: center;
}

/*TABLE: MINEFIELD*/
#minefieldContainer {
    display: flex;
    align-content: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

table {
    margin: 2px;
    max-width: 90%;
}

tbody>tr {
    height: 50px;
}

tbody>tr>td {
    background: url("Img/single-files/minesweeper_00.png");
    background-size: 100% 100%;
    width: 50px;
}

td>span {
    color: black;
    text-align: center;
}

/*Table: CELL STATES*/
.clickedBomb {
    background-image: url("Img/single-files/minesweeper_06.png");
}

.bomb{
    background-image:  url("Img/single-files/minesweeper_05.png")
}

.flag{
    background-image: url("Img/single-files/minesweeper_02.png")
}

.clickedCell {
    background-image: url("Img/single-files/minesweeper_01.png");
}

.surroundingBomb__1 {
    background-image: url("Img/single-files/minesweeper_08.png");
}

.surroundingBomb__2 {
    background-image: url("Img/single-files/minesweeper_09.png");
}

.surroundingBomb__3 {
    background-image: url("Img/single-files/minesweeper_10.png");
}

.surroundingBomb__4 {
    background-image: url("Img/single-files/minesweeper_11.png");
}

.surroundingBomb__5 {
    background-image: url("Img/single-files/minesweeper_12.png");
}

.surroundingBomb__6 {
    background-image: url("Img/single-files/minesweeper_13.png");
}

.surroundingBomb__7 {
    background-image: url("Img/single-files/minesweeper_14.png");
}

.surroundingBomb__8 {
    background-image: url("Img/single-files/minesweeper_15.png");
}

@media only screen and (max-width: 720px) {

    html,
    body {
        margin: 0;
        padding: 0;
    }

    table{
        max-width: 100%;
        min-width: 300px;
    }
}