/*GENERAL*/
body,
html {
    margin: 0;
    padding: 1%;
}

.hidden {
    opacity: 0;
}

.collapsed {
    height: 0;
}

/*FORM*/
form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;

    max-width: 400px;
    min-width: 355px;

    justify-content: space-between;
    min-height: 150px;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    min-width: 200px;

    justify-content: space-between;
}

.inputContainer>label {
    width: 100%;
}

label {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

label>input[type="text"] {
    min-width: 50%;
    float: right;
}

label>input[type="number"] {
    max-width: 30px;
    height: 11px;
    float: right;
}

#btnDone {
    align-self: flex-end;
}

.errorMsg {
    color: red;
}

/*TABLE: MINEFIELD*/
table{
    margin: 2px;
    width: calc(100% - 4px);
}
tbody>tr{
    height: 25px;
}

tbody>tr>td {
    background-color: grey;
    
    border: white;
    width: 9px;
}

@media only screen and (max-width: 720px) {

    html,
    body {
        margin: 0;
        padding: 0;
    }

    ;
}