/*FORM*/
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;

    justify-content: space-between;
    height: 12vh;
    min-height: 100px;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    min-width: 200px;

    justify-content: space-between;
}

form>label {
    width: 50%;
}

input[type="text"]{

}

input[type="number"] {
    max-width: 30px;
    height: 20px; 
}

#btnDone{
    align-self: flex-end;
}

/*TABLE: MINEFIELD*/

tbody>td{
    color: grey;
    border: white;
}