/*GENERAL*/
body,
html {
    margin: 1%;
    padding: 0;
}

.hidden {
    opacity: 0;
}

.collapsed {
    height: 0;
}

/*FORM*/
form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    width: calc(100% - 2%);
    min-width: 300px;

    justify-content: center;
    min-height: 150px;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
}

.inputContainer>label {
    width: 100%;
    text-align: center;
}

input[type="text"] {
    min-width: 50%;
    align-just: center;
}

label>input[type="number"] {
    max-width: 30px;
    height: 11px;
}

.errorMsg {
    color: red;
}

#btnDone {
    align-self: center;
}

/*TABLE: MINEFIELD*/
table {
    margin: 2px;
    width: calc(100% - 4px);
}

tbody>tr {
    height: 25px;
}

tbody>tr>td {
    background-color: grey;

    border: white;
    width: 9px;
}

@media only screen and (max-width: 720px) {

    html,
    body {
        margin: 0;
        padding: 0;
    }
}