#vanImg {
    display: block;

    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    min-width: 300px;
}

.Normal {
    filter: none;
}

.Grayscale {
    filter: grayscale(100%);
}

.Sepia {
    filter: sepia(100%)
}

.Hue {
    filter: hue-rotate(90deg);
}

.Blur {
    filter: blur(10px);
}

#btnWrapper {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

button {
    margin: 20px;
}

button:hover {
    transition-delay: 300ms;
    transform: scale(1.2);
}

#sliderWrapper {
    display: flex;
    justify-content: center;
}

#opacity {
    margin-left: 20px;
    width: 50%;
    max-width: 400px;
}